body {
  font-family: "Raleway", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 90px 20px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  padding: 20px;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  color: #d22b2b;
  margin: 0;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}

.icon {
  margin-left: 10px;
  font-size: 1.5rem;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #0056b3;
}

.table-container {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

table {
  font-size: 0.9rem;
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

td {
  background-color: #fff;
  color: #666;
}

.selected-row td {
  background-color: #d4edda;
}

/* Add invoice form styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 30px auto;
  padding: 20px;
  width: 90%;
  max-width: 500px;
}

.fa-xmark {
  color: #aaa;
  float: right;
  font-size: 1.5rem;
}

.fa-xmark:hover {
  color: black;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.add-entry-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.add-entry-btn:hover {
  background-color: #45a049;
}

.sort-icon {
  margin-left: 8px;
}

/* Tablets and small screens */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    font-size: 1.5rem;
  }

  .icon {
    font-size: 1.2rem;
  }

  table {
    font-size: 0.8rem;
  }
}

/* Mobile phones */
@media (max-width: 480px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-size: 1.25rem;
  }

  .icon-container {
    margin-top: 10px;
  }

  .icon {
    margin-left: 5px;
    font-size: 1rem;
  }

  table,
  th,
  td {
    font-size: 0.75rem;
  }

  .modal-content {
    width: 75%;
  }
}
