body {
  font-family: "Raleway", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-family: "Kanit", sans-serif;
  display: inline-block;
  font-size: 2rem;
  color: #d22b2b;
  margin-bottom: 20px;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
}

.icon {
  margin-left: 10px;
  font-size: 1.5rem;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #0056b3;
}

table {
  font-size: 0.9rem;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

td {
  background-color: #fff;
  color: #666;
}

.selected-row td {
  background-color: #d4edda;
}

/* Add invoice form styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 40px auto;
  padding: 20px;
  width: 50%;
}

.fa-xmark {
  color: #aaa;
  float: right;
  font-size: 1.5rem;
}

.fa-xmark:hover {
  color: black;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.add-entry-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.add-entry-btn:hover {
  background-color: #45a049;
}
